
*.txt
dev_notes/dev_notes.md
dev_notes/sample_HDC_page.html
dev_notes/funcs_old.py
dev_notes/old.py
dev_notes/cache_2019-07-12.json
Results/Americanization_in_Chicago__the_report_of_a_survey.json
cache.json
Results/Unattached_women_on_relief_in_Chicago__1937.json
dev_notes/HDCText.py
dev_notes/dlftBenchmarking.py
testing/dlft-fds.py
testing/dlft-iiif.py
testing/dlftBenchmarking.py
testing/HDCText.py
*.json
